section.container {
  max-width: 992px;
  height: 100vh;

  margin: 0 auto;
  padding: 40px;

  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 16px;
    display: flex;

    align-items: center;
    span {
      font-size: 10px;
      font-weight: lighter;
      align-self: flex-start;
    }
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    padding: 2px;

    border: solid gray;
    border-radius: 5px;
    border-width: 0.5px;

    background: #fff;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);

    input {
      border: none;

      height: 30px;
      width: 100%;

      margin-right: 10px;
      outline: none;
    }
    button {
      background: #fff;
      padding: 0px 20px;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  .user {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    margin-top: 30px;
    padding: 20px;
    display: flex;
    align-items: center;

    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-right: 10px;
    }

    div p:first-child {
      font-size: 18px;
      font-weight: bold;
    }
    div p {
      font-size: 12px;
    }
  }

  ul {
    list-style: none;

    margin-top: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    overflow: auto;
  }
  li {
    background: #fff;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);

    border-radius: 8px;

    padding: 14px;

    div {
      max-width: 300px;

      font-size: 10px;
      color: #444;

      margin-top: 8px;

      white-space: nowrap;
      overflow: hidden; /* "overflow" value must be different from "visible" */
      text-overflow: ellipsis;
    }

    a {
      display: inline-block;
      margin-top: 16px;
      text-decoration: none;

      button {
        color: #fff;
        background: #8257e6;
        box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);

        padding: 8px 20px;

        border-radius: 8px;
        border: none;

        cursor: pointer;
      }
    }
  }
}
